<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>id</th>
                <th>name</th>
                <th>password</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <th scope="row" th:text="${user.id}"></th>
                <th scope="row" th:text="${user.name}"></th>
                <th scope="row" th:text="${user.password}"></th>
            </tr>
            </tbody>
        </table>
    </div>

    <script>

    </script>
</body>
</html>